@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", Helvetica, "sans-serif";
  line-height: 1.15;
}

html body {
  background-color: #fff;
  font-family: "Poppins", Helvetica, "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
